/* Couleurs principales */
:root {
    --main-bg-color: #91A89B; /* Vert doux */
    --hover-bg-color: #778c7b; /* Vert foncé */
    --light-bg-color: #f8f4eb; /* Beige clair */
}

/* Style général */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--light-bg-color);
}

/* Barre de navigation */
.navbar {
    background-color: var(--main-bg-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
}

.navbar .nav-link,
.navbar .navbar-brand {
    color: white;
    font-weight: bold;
    margin-right: 15px;
    text-transform: uppercase;
    font-size: 14px;
}

.navbar .nav-link:hover,
.navbar .navbar-brand:hover {
    background-color: var(--hover-bg-color);
    transition: background-color 0.3s;
    border-radius: 5px;
}


/* Icônes */
.navbar img {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.navbar img:hover {
    transform: scale(1.1);
}

